# New Section

In [ ]:
!pip install tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.8.2+zzzcolab20220719082949)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.47.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (14.0.6)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.6)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.5.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.26.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: tensorflow-estimator<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (4.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.35.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [ ]:
!pip install tensorflow_text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow_text
  Downloading tensorflow_text-2.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
     |████████████████████████████████| 4.6 MB 6.6 MB/s
Collecting tensorflow<2.10,>=2.9.0
  Downloading tensorflow-2.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (511.7 MB)
     |████████████████████████████████| 511.7 MB 5.9 kB/s
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (0.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (1.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (1.1.2)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (1.6.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (21.3)
Collecting keras<2.10.0,>=2.9.0rc0
  Downloading keras-2.9.0-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 54.2 MB/s
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (3.17.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (3.1.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (0.26.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (1.15.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (3.3.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (1.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (0.2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (4.1.1)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (1.14.1)
Collecting tensorboard<2.10,>=2.9
  Downloading tensorboard-2.9.1-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 45.5 MB/s
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (1.21.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (57.4.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (14.0.6)
Collecting flatbuffers<2,>=1.12
  Downloading flatbuffers-1.12-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.10,>=2.9.0->tensorflow_text) (1.47.0)
Collecting tensorflow-estimator<2.10.0,>=2.9.0rc0
  Downloading tensorflow_estimator-2.9.0-py2.py3-none-any.whl (438 kB)
     |████████████████████████████████| 438 kB 66.9 MB/s
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow<2.10,>=2.9.0->tensorflow_text) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow<2.10,>=2.9.0->tensorflow_text) (1.5.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (2.23.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (1.35.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (1.8.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (3.4.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow<2.10,>=2.9.0->tensorflow_text) (3.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow<2.10,>=2.9.0->tensorflow_text) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, gast, flatbuffers, tensorflow, tensorflow-text
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.8.0
    Uninstalling tensorflow-estimator-2.8.0:
      Successfully uninstalled tensorflow-estimator-2.8.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.8.0
    Uninstalling tensorboard-2.8.0:
      Successfully uninstalled tensorboard-2.8.0
  Attempting uninstall: keras
    Found existing installation: keras 2.8.0
    Uninstalling keras-2.8.0:
      Successfully uninstalled keras-2.8.0
  Attempting uninstall: gast
    Found existing installation: gast 0.5.3
    Uninstalling gast-0.5.3:
      Successfully uninstalled gast-0.5.3
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 2.0
    Uninstalling flatbuffers-2.0:
      Successfully uninstalled flatbuffers-2.0
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.8.2+zzzcolab20220719082949
    Uninstalling tensorflow-2.8.2+zzzcolab20220719082949:
      Successfully uninstalled tensorflow-2.8.2+zzzcolab20220719082949
Successfully installed flatbuffers-1.12 gast-0.4.0 keras-2.9.0 tensorboard-2.9.1 tensorflow-2.9.1 tensorflow-estimator-2.9.0 tensorflow-text-2.9.0

In [ ]:
#import Libraries
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

In [ ]:
#pip install tensorflow_text

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#upload the data set
URL = "DATASET_URL"

In [ ]:
#import panda and read data set
import pandas as pd

df = pd.read_csv(URL)
df.head(5)

,author id,created_at,geo,id,lang,like_count,quote_count,reply_count,retweet_count,source,tweet,Disease,Category,location,bbox,normalized_tweet,preprocessed_tweet
0,8.847627e+07,2021-01-30 23:27:51+00:00,0af014accd6f6e99,1.360000e+18,en,2,0,0,0,Twitter for iPhone,"Also, spoongate and highlightergate took me p...",NaN,no,"Scotland, United Kingdom","[-7.66085699743185, 54.6336309570711, -0.74002...","['spoongate', 'highlightergate', 'took', 'peri...",also spoongate and highlightergate took me p...
1,2.212480e+09,2021-01-30 23:22:42+00:00,544762ebf7fda780,1.360000e+18,en,0,0,1,0,Twitter for Android,But spreading the vaccine more thinly acro...,NaN,no,"Islington, London","[-0.1420579, 51.5185518, -0.076305, 51.575301]","['bouledenerfs', 'sbarrellkane', 'danieleales'...",but spreading the vaccine more thinly acro...
2,2.180468e+07,2021-01-30 23:21:37+00:00,0282e03e23c71cd9,1.360000e+18,en,0,0,0,0,Twitter for iPhone,You read my mind!,NaN,no,"Walberton, England","[-0.649321, 50.842058, -0.613803, 50.857136]","['measles', 'britishmuseum', 'read', 'mind']",you read my mind
3,3.368075e+09,2021-01-30 23:17:59+00:00,6950c01e141ecebc,1.360000e+18,en,2,0,0,0,Twitter for iPhone,The fact sea shanties are viral on tiktok has ...,NaN,no,"Pendeen, England","[-5.672772, 50.147916, -5.650931, 50.155494]","['sea', 'shanty', 'viral', 'tiktok', 'made', '...",the fact sea shanties are viral on tiktok has ...
4,1.170000e+18,2021-01-30 23:11:52+00:00,3e20eaf0dc70acfe,1.360000e+18,en,0,0,0,0,Twitter for Android,good evening guys Ã¢ÂÂ¤Ã¯Â¸Â I miss you....,NaN,no,"Stockton-on-Tees, England","[-1.372296, 54.538762, -1.2717038, 54.600693]","['shanefilan', 'kianeganwl', 'good', 'evening'...",good evening guys i miss you ...

In [ ]:
df.groupby('Category').describe()

         author id                                                      \
             count          mean           std        min          25%
Category
no           500.0  3.528740e+17  5.370827e+17   645503.0  148515235.0
yes          496.0  2.742782e+17  4.927095e+17  6091392.0  111879946.5

                                                       id                ...  \
                   50%           75%           max  count          mean  ...
Category                                                                 ...
no        1.062943e+09  8.927500e+17  1.520000e+18  500.0  1.430700e+18  ...
yes       5.369748e+08  4.487835e+09  1.470000e+18  496.0  1.455282e+18  ...

         reply_count       retweet_count                                     \
                 75%   max         count      mean       std  min  25%  50%
Category
no               1.0  91.0         500.0  0.576000  3.169276  0.0  0.0  0.0
yes              1.0  37.0         496.0  0.377016  1.968693  0.0  0.0  0.0


          75%   max
Category
no        0.0  49.0
yes       0.0  24.0

[2 rows x 48 columns]

In [ ]:
df['Category'].value_counts()

no     500
yes    496
Name: Category, dtype: int64

In [ ]:
df_no = df[df['Category']=='no']
df_no.shape

(500, 17)

In [ ]:
df_yes = df[df['Category']=='yes']
df_yes.shape

(496, 17)

In [ ]:
#df_yes_downsampled = df_yes.sample(df_no.shape[0])
#df_yes_downsampled.shape

df_no_downsampled = df_no.sample(df_yes.shape[0])
df_no_downsampled.shape

(496, 17)

In [ ]:
#df_balanced = pd.concat([df_yes_downsampled, df_no])
df_balanced = pd.concat([df_yes, df_no_downsampled])
df_balanced.shape

(992, 17)

In [ ]:
#balance data set
df_balanced['Category'].value_counts()

yes    496
no     496
Name: Category, dtype: int64

In [ ]:
df_balanced['disease']=df_balanced['Category'].apply(lambda x: 1 if x=='yes' else 0)
df_balanced.sample(5)

,author id,created_at,geo,id,lang,like_count,quote_count,reply_count,retweet_count,source,tweet,Disease,Category,location,bbox,normalized_tweet,preprocessed_tweet,disease
320,8.052182e+06,2021-12-28 18:23:54+00:00,1f36c2b60fbc98ac,1.480000e+18,en,0,0,1,0,Twitter for Android,What's worse is that children in the UK ar...,NaN,no,"Swansea, Wales","[-4.029331, 51.5987484, -3.8621388, 51.68983]","['jhowardbrainmd', 'nrafter', 'worse', 'child'...",what s worse is that children in the uk ar...,0
251,8.669925e+07,2021-09-22 09:11:51+00:00,43dacd36a372f0d8,1.440000e+18,en,0,0,0,0,Twitter for Android,Feeling ya... little man has chickenpox have ...,Chickenpox,yes,"Dewsbury, England","[-1.744655, 53.657326, -1.584689, 53.7463127]","['ya', 'little', 'man', 'chickenpox', 'since']",feeling ya little man has chickenpox have ...,1
493,3.303350e+09,2022-02-08 10:17:25+00:00,20bc436b37c1b13a,1.490000e+18,en,0,0,0,0,Twitter for Android,I haven't felt this sick in years. #norovirus ...,NaN,yes,"Barking, London","[0.065775, 51.5114666, 0.189997, 51.596571]","['felt', 'sick', 'year', 'norovirus', 'least',...",i haven t felt this sick in years norovirus ...,1
754,6.259533e+07,2022-05-04 17:45:10+00:00,21a9d859b598883a,1.520000e+18,en,29,1,14,0,Twitter for Android,I've been in bed all day with this flu. I doub...,NaN,yes,"Southall, London","[-0.419679, 51.491499, -0.302681, 51.559366]","['bed', 'day', 'flu', 'doubt', 'able', 'bit', ...",i ve been in bed all day with this flu i doub...,1
723,6.259533e+07,2022-05-05 11:05:07+00:00,21a9d859b598883a,1.520000e+18,en,0,0,1,0,Twitter for Android,Depends on how marginal. I was meant to be do...,NaN,yes,"Southall, London","[-0.419679, 51.491499, -0.302681, 51.559366]","['marginal', 'meant', 'telling', 'today', 'flu...",depends on how marginal i was meant to be do...,1

In [ ]:
#split data set into 80%-20%

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_balanced['preprocessed_tweet'],df_balanced['disease'], stratify=df_balanced['disease'], test_size=0.2)

In [ ]:
X_train.head(4)

314    at last  out after a week of hunkering down wi...
485    i m stuck in bed with norovirus  need suggesti...
230    watching the simpsons chickenpox ep and having...
291     go to remedy for sunburn  chickenpox  plooks ...
Name: preprocessed_tweet, dtype: object

In [ ]:
pip install tensorflow-hub

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-hub in /usr/local/lib/python3.7/dist-packages (0.12.0)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-hub) (3.17.3)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-hub) (1.21.6)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.8.0->tensorflow-hub) (1.15.0)

In [ ]:
#call Bert Classifier
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [ ]:
def get_sentence_embeding(sentences):
    preprocessed_text = bert_preprocess(sentences)
    return bert_encoder(preprocessed_text)['pooled_output']

In [ ]:
# Bert layers
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = bert_preprocess(text_input)
outputs = bert_encoder(preprocessed_text)

# Neural network layers
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

# Use inputs and outputs to construct a final model
model = tf.keras.Model(inputs=[text_input], outputs = [l])

In [ ]:
#get model summery
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_word_ids':   0           ['text[0][0]']
                                (None, 128),
                                 'input_mask': (Non
                                e, 128),
                                 'input_type_ids':
                                (None, 128)}

 keras_layer_1 (KerasLayer)     {'encoder_outputs':  109482241   ['keras_layer[0][0]',
                                 [(None, 128, 768),               'keras_layer[0][1]',
                                 (None, 128, 768),                'keras_layer[0][2]']
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768)],
                                 'default': (None,
                                768),
                                 'sequence_output':
                                 (None, 128, 768),
                                 'pooled_output': (
                                None, 768)}

 dropout (Dropout)              (None, 768)          0           ['keras_layer_1[0][13]']

 output (Dense)                 (None, 1)            769         ['dropout[0][0]']

==================================================================================================
Total params: 109,483,010
Trainable params: 769
Non-trainable params: 109,482,241
__________________________________________________________________________________________________

In [ ]:
#length of the training data
len(X_train)

744

In [ ]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=METRICS)

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   author id           996 non-null    float64
 1   created_at          996 non-null    object
 2   geo                 996 non-null    object
 3   id                  996 non-null    float64
 4   lang                996 non-null    object
 5   like_count          996 non-null    int64
 6   quote_count         996 non-null    int64
 7   reply_count         996 non-null    int64
 8   retweet_count       996 non-null    int64
 9   source              996 non-null    object
 10  tweet               995 non-null    object
 11  Disease             276 non-null    object
 12  Category            996 non-null    object
 13  location            996 non-null    object
 14  bbox                995 non-null    object
 15  normalized_tweet    996 non-null    object
 16  preprocessed_tweet  995 non-null    object
dtypes: float64(2), int64(4), object(11)
memory usage: 132.4+ KB

In [ ]:

import numpy as np
X_train = np.array([np.array(val) for val in X_train])
X_test = np.array([np.array(val) for val in X_test])

In [ ]:
#train the model

model.fit(X_train, y_train, epochs=20)

Epoch 1/20
24/24 [==============================] - 25s 323ms/step - loss: 0.7164 - accuracy: 0.5202 - precision: 0.5224 - recall: 0.4704
Epoch 2/20
24/24 [==============================] - 7s 286ms/step - loss: 0.6936 - accuracy: 0.5349 - precision: 0.5327 - recall: 0.5699
Epoch 3/20
24/24 [==============================] - 7s 287ms/step - loss: 0.6855 - accuracy: 0.5538 - precision: 0.5490 - recall: 0.6022
Epoch 4/20
24/24 [==============================] - 7s 289ms/step - loss: 0.6715 - accuracy: 0.5793 - precision: 0.5743 - recall: 0.6129
Epoch 5/20
24/24 [==============================] - 7s 290ms/step - loss: 0.6563 - accuracy: 0.6317 - precision: 0.6150 - recall: 0.7043
Epoch 6/20
24/24 [==============================] - 7s 290ms/step - loss: 0.6466 - accuracy: 0.6277 - precision: 0.6301 - recall: 0.6183
Epoch 7/20
24/24 [==============================] - 7s 291ms/step - loss: 0.6452 - accuracy: 0.6371 - precision: 0.6425 - recall: 0.6183
Epoch 8/20
24/24 [==============================] - 7s 293ms/step - loss: 0.6514 - accuracy: 0.6263 - precision: 0.6211 - recall: 0.6478
Epoch 9/20
24/24 [==============================] - 7s 294ms/step - loss: 0.6287 - accuracy: 0.6667 - precision: 0.6792 - recall: 0.6317
Epoch 10/20
24/24 [==============================] - 7s 295ms/step - loss: 0.6174 - accuracy: 0.6667 - precision: 0.6658 - recall: 0.6694
Epoch 11/20
24/24 [==============================] - 7s 295ms/step - loss: 0.6161 - accuracy: 0.6774 - precision: 0.6746 - recall: 0.6855
Epoch 12/20
24/24 [==============================] - 7s 295ms/step - loss: 0.6129 - accuracy: 0.6868 - precision: 0.7062 - recall: 0.6398
Epoch 13/20
24/24 [==============================] - 7s 295ms/step - loss: 0.6025 - accuracy: 0.7003 - precision: 0.7030 - recall: 0.6935
Epoch 14/20
24/24 [==============================] - 7s 297ms/step - loss: 0.5953 - accuracy: 0.7110 - precision: 0.6997 - recall: 0.7392
Epoch 15/20
24/24 [==============================] - 7s 301ms/step - loss: 0.5929 - accuracy: 0.7056 - precision: 0.6987 - recall: 0.7231
Epoch 16/20
24/24 [==============================] - 7s 300ms/step - loss: 0.5985 - accuracy: 0.6761 - precision: 0.6804 - recall: 0.6640
Epoch 17/20
24/24 [==============================] - 7s 299ms/step - loss: 0.5846 - accuracy: 0.7030 - precision: 0.6846 - recall: 0.7527
Epoch 18/20
24/24 [==============================] - 7s 300ms/step - loss: 0.5925 - accuracy: 0.6815 - precision: 0.6957 - recall: 0.6452
Epoch 19/20
24/24 [==============================] - 7s 301ms/step - loss: 0.5849 - accuracy: 0.6962 - precision: 0.7122 - recall: 0.6586
Epoch 20/20
24/24 [==============================] - 7s 303ms/step - loss: 0.5781 - accuracy: 0.7164 - precision: 0.7069 - recall: 0.7392

# New Section

In [ ]:
model.evaluate(X_test, y_test)

8/8 [==============================] - 3s 303ms/step - loss: 0.5895 - accuracy: 0.7258 - precision: 0.6818 - recall: 0.8468

[0.5894502401351929, 0.725806474685669, 0.6818181872367859, 0.8467742204666138]

In [ ]:
y_predicted = model.predict(X_test)
y_predicted = y_predicted.flatten()

8/8 [==============================] - 3s 308ms/step

In [ ]:
import numpy as np

y_predicted = np.where(y_predicted > 0.5, 1, 0)
y_predicted

array([1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0])

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

conf_matrix = confusion_matrix(y_test, y_predicted)
conf_matrix

array([[ 75,  49],
       [ 19, 105]])

In [ ]:
print(classification_report(y_test, y_predicted))

              precision    recall  f1-score   support

           0       0.80      0.60      0.69       124
           1       0.68      0.85      0.76       124

    accuracy                           0.73       248
   macro avg       0.74      0.73      0.72       248
weighted avg       0.74      0.73      0.72       248

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print("Accuracy - ", accuracy_score(y_test, y_predicted))
print("Precision - ", precision_score(y_test, y_predicted))
print("Recall - ", recall_score(y_test, y_predicted))
print("F1-Score - ", f1_score(y_test, y_predicted))

Accuracy -  0.7258064516129032
Precision -  0.6818181818181818
Recall -  0.8467741935483871
F1-Score -  0.7553956834532374

In [ ]:
df.sample(2)

,author id,created_at,geo,id,lang,like_count,quote_count,reply_count,retweet_count,source,tweet,Disease,Category,location,bbox,normalized_tweet,preprocessed_tweet
525,1.170000e+18,2022-03-18 01:16:02+00:00,457b4814b4240d87,1.500000e+18,en,0,0,1,0,Twitter for iPhone,"Anaiyah Ã¢â‚¬Â¢ 2 Years Ã¢â‚¬Â¢ Trinidadian, S...",NaN,no,"London, England","[-0.187894, 51.483718, -0.109978, 51.5164655]","['trinidadian', 'saint', 'lucian', 'amp', 'ben...",anaiyah years trinidadian s...
43,1.636584e+09,2021-01-18 20:13:36+00:00,2083f7d174edb764,1.350000e+18,en,1,1,0,0,Twitter for iPhone,phonics &amp; writing with Ruth &amp; Sara + ...,NaN,no,"Armthorpe, England","[-1.075775, 53.5266563, -1.039822, 53.5449803]","['phonics', 'amp', 'writing', 'ruth', 'amp', '...",phonics amp writing with ruth amp sara ...

In [ ]:
#Applying entire dataset to bert model

b_tweet = df['normalized_tweet']
pred_tweet = model.predict(b_tweet)

df['Bert_Score'] = pred_tweet
df['Bert_Label'] = df['Bert_Score'].apply(lambda x: 1 if x >= 0.5 else 0)
df.tail(5)

32/32 [==============================] - 10s 311ms/step

,author id,created_at,geo,id,lang,like_count,quote_count,reply_count,retweet_count,source,tweet,Disease,Category,location,bbox,normalized_tweet,preprocessed_tweet,Bert_Score,Bert_Label
991,296916169.0,2020-01-24 18:10:53+00:00,6a779d5cb7e570e8,1.220000e+18,en,0,0,0,0,Twitter for Android,Odd that this has gone viral but I really like...,NaN,no,"Chelmsford, East","[0.435659, 51.698636, 0.521299, 51.78115]","['gone', 'viral', 'really', 'like', 'song', 'g...",odd that this has gone viral but i really like...,0.359455,0
992,296916169.0,2020-01-24 18:09:44+00:00,6a779d5cb7e570e8,1.220000e+18,en,0,0,1,0,Twitter for Android,Because it's awesome!\n\nAnd it's gone viral ...,NaN,no,"Chelmsford, East","[0.435659, 51.698636, 0.521299, 51.78115]","['awesome', 'gone', 'viral', 'tiktok']",because it s awesome and it s gone viral on...,0.317185,0
993,151036239.0,2020-01-24 18:03:37+00:00,50f2d0272381533f,1.220000e+18,en,0,0,0,0,Twitter for iPhone,Canâ€™t believe how viral this has gone ðŸ˜‚ðŸ...,NaN,no,"East Midlands, England","[-2.03410488116464, 51.9772264213839, 0.357994...","['believe', 'viral', 'gone', 'http', 'co', 'kj...",can t believe how viral this has gone ...,0.325015,0
994,258124561.0,2020-01-24 16:48:57+00:00,457b4814b4240d87,1.220000e+18,en,1,0,0,0,Instagram,It had to be done. ðŸ˜‚ â€œGet you a woman who...,NaN,no,"London, England","[-0.187894, 51.483718, -0.109978, 51.5164655]","['done', 'get', 'woman', 'dollyparton', 'ignit...",it had to be done get you a woman who...,0.329398,0
995,434456355.0,2020-01-24 13:03:54+00:00,315b740b108481f6,1.220000e+18,en,0,0,0,0,Twitter for Android,...should I do this and go viral? ðŸ˜‚,NaN,no,"Manchester, England","[-2.319934, 53.343623, -2.147026, 53.5702824]","['go', 'viral', 'sandymoore', 'x', 'http', 'co...",should i do this and go viral,0.485284,0

In [ ]:
df.to_csv('sample_data/Bert_Prediction_Data.csv', index = False)